#had{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    background-color: beige;
}

li{
    font-size: 3rem;
}

.active-link{
    border: solid 3px rgb(138, 112, 0);
}